/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
/storage/app/public
/storage/debugbar
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/.idea
/.vscode
/_ide_helper.php
/_ide_helper_models.php
/phpstorm.meta.php
.phpunit.result.cache
/.phpunit.result.cache
/coverage/
/Homestead.yaml
/Homestead.json
/.env
.env.backup
/.env.local
/.env.*.local
/.env.testing
/.env.example
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
*.code-workspace
composer.lock
yarn-error.log
yarn.lock
npm-debug.log
*.log
*.log.*
phpunit.xml
phpunit.xml.dist
.idea/
.vscode/
*.swp
*.swo
/build
/.cache
/.next
/out

